FeatureServices/.vs/
FeatureServices/Library/
FeatureServices/obj/
FeatureServices/Logs/
FeatureServices/Temp/
FeatureServices/Assets/FeatureServices/package-lock.json
FeatureServices/Assets/FeatureServices/package-lock.json.meta
